$blue:    #00708C !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #FF404C !default;
$orange:  #ff6203 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #1CA5B8 !default;
$cyan:    #0197ca !default;
$white:   #FFFFFF;

// Bootstrap
@import "./bootstrap/bootstrap";
@import "./fa/font-awesome";
@import "./animate";
@import "./jquery.fancybox.min";
@import "./pagination";
@import "./tagsinput";

/* MIXINS */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin grid-colums($count, $gap:3) {
	-webkit-column-count: $count;
	   -moz-column-count: $count;
			column-count: $count;
	-webkit-column-gap: $gap px;
	   -moz-column-gap: $gap px;
			column-gap: $gap px;
}
@mixin colum-breack() {
	-webkit-column-break-inside: avoid;
	          page-break-inside: avoid;
	               break-inside: avoid;
}
@mixin transition($speed:0.5s) {
	-webkit-transition: all $speed ease;
	   -moz-transition: all $speed ease;
	     -o-transition: all $speed ease;
}
$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);

/*
@media (max-width: $screen-xs-max) { ... }
@media (min-width: $screen-sm-min) { ... }
@media (max-width: $screen-sm-max) { ... }
@media (min-width: $screen-md-min) { ... }
@media (max-width: $screen-md-max) { ... }
@media (min-width: $screen-lg-min) { ... }
*/

@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:300,400,700,800,900');

h1, h2, h3, h4, h5 {
	font-family: 'Barlow Condensed', sans-serif;
}

html {
	height: 100%;
}
body {
	display: block;
	background-color: $gray-100;
	height: 100%;
	padding-top: 45px;
	@media (max-width: $screen-sm-max) {
		padding-top: 0;
	}
}
header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	@media (max-width: $screen-sm-max) {
		position: relative;
	}
}
.campus {
	position: relative;
	display: table;
	height: 100%;
	width: 100%;
	@media (max-width: $screen-sm-max) {
		display: block;
	}
}
.campus .sidebar {
	display: table-cell;
	background-color: $gray-400;
	width: 300px;
	vertical-align: top;
	height: 100%;
	@media (max-width: $screen-sm-max) {
		display: block;
		width: 100%;
		z-index: -1;
		height: auto;
	}
}
.campus .content {
	display: table-cell;
	position: relative;
	height: 100%;
	@media (max-width: $screen-sm-max) {
		display: block;
	}
}
.campus .content .inner {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	@media (max-width: $screen-sm-max) {
		height: auto;
		overflow-y:  auto;
	}
}
.answers {
	padding: 0;
	margin: 0;
	list-style: none;
	@include grid-colums(2, 15);

	@media (max-width: $screen-sm-max) {
		@include grid-colums(1, 15);
	}
}
.answers li {
	display: block;
	border-left: 5px solid $cyan;
	@include colum-breack();
}
.answer {
	display: block;
	margin-bottom: 5px;
	padding: 15px;
	font-size: 1.3em;
	background-color: $blue;
	color: $gray-100;
	cursor: pointer;
}
.question {
	display: block;
	background-color: white;
	border-left: 5px solid $teal;
	padding: 15px;
}
.question .title {
	display: block;
	position: relative;
	border-left: 5px solid $teal;
	background-color: $cyan;
	padding: 10px;
	margin-left: -30px;
	color: $white;
}

blockquote{
  display:block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  
  /*Font*/
  font-size: 14px;
  line-height: 1.2;
  color: #666;

  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;

  /*Borders - (Optional)*/
  border-left-style: solid;
  border-left-width: 15px;
  border-right-style: solid;
  border-right-width: 2px;    
}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/
  
  /*Font*/
  font-size: 60px;
  font-weight: bold;
  color: #999;
  
  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px;
  
}

blockquote::after{
  /*Reset to make sure*/
  content: "";
}

blockquote em{
  font-style: italic;
}